{% comment %}

    Adds Bootstrap styled breadcrumbs to page.
    By default the crumbs are: Home (index.html) / Items (browse.html) / current page title (from the metadata, truncated to 10 words max).
    For transcript and record layouts, adds a person page link before the item title.

{%- endcomment -%}
<ol class="breadcrumb">
    <li class="breadcrumb-item"><a class="text-dark" href="{{ '/' | relative_url }}">Home</a></li>
    <li class="breadcrumb-item"><a class="text-dark" href="{{ '/people/' | relative_url }}">People</a></li>
    {%- if page.display_template == 'transcript' or page.display_template == 'record' -%}
        {%- if page.personid -%}
            {%- assign person = site.data.lcoh | where: "objectid", page.personid | first -%}
            {%- if person -%}
                <li class="breadcrumb-item"><a class="text-dark" href="{{ person.objectid | prepend: '/people/' | append: '.html' | relative_url }}">{{ person.title }}</a></li>
            {%- endif -%}
        {%- endif -%}
    {%- endif -%}
    <li class="breadcrumb-item active text-dark" aria-current="page">{{ page.title | truncatewords: 10 }}</li>
</ol>