---
# basic layout for compound object items
# uses _includes/item/child/ includes to add multiple objects to the item page in a gallery
# each object is represented in a modal
layout: item/item-page-base
gallery: true
custom-foot: js/modal-hash-js.html
---
{% assign children = site.data[site.metadata] | where_exp: 'item','item.parentid == page.objectid' %}

<div class="card mb-4 text-center">
    <div class="card-body">
        {% if children %}{% assign audio_item = children | where_exp: 'item','item.format == "audio/mp3" ' | first %}{% endif %}
        <audio controls class="w-100">
            <source src="{{ audio_item.object_location | default: page.object_location | relative_url }}">
            Your browser does not support the audio element. Please <a href="{{ audio | relative_url }}">download the audio file</a>.
        </audio>

        <div class="btn-group m-1" role="group" aria-label="Item options">
            {% if audio_item.object_transcript or page.object_transcript %}<button class="btn btn-outline-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTranscript" aria-expanded="false" aria-controls="collapseExample">View Transcript</button>{% endif %}
            {% if page.date %}{%- capture year -%}{% if page.date contains "-" %}{{ page.date | split: "-" | first }}{% elsif page.date contains "/" %}{{ page.date | split: "/" | last }}{% else %}{{ page.date }}{% endif %}{%- endcapture -%}
            <a href="{{ year | strip | prepend: '/timeline.html#y' | relative_url }}" class="btn btn-outline-primary">View on Timeline</a>{% endif %}
            {% if page.latitude and page.longitude %}
            <a href="{{ '/map.html?location=' | append: page.latitude  | append: ',' | append: page.longitude | append: '&marker=' | append: page.objectid | relative_url }}" class="btn btn-outline-primary">View on Map</a>{% endif %}
        </div>
        {% if audio_item %}<a target="_blank" rel="noopener" href="{{ audio_item.object_location | relative_url }}" class="btn btn-outline-primary m-1">
            Download {{ audio_item.format | split: '/' | last | default: audio_item.display_template | upcase }}
        </a>{% endif %}
        {% if page.object_location %}<a target="_blank" rel="noopener" href="{{ page.object_location | relative_url }}" class="btn btn-outline-primary m-1">
            {% if page.display_template == 'video' and page.object_location contains 'vimeo' %}View on Vimeo{% elsif page.display_template == 'video' and page.object_location contains 'youtu' %}View on YouTube{% elsif page.display_template == 'record'%}Link to Object{% else %}Download {{ page.format | split: '/' | last | default: page.display_template | upcase }}{% endif %}
        </a>{% endif %}
        {% if children %}{% assign pdf_item = children | where_exp: 'item','item.format == "application/pdf" ' | first %}{% endif %}
        {% if pdf_item %}
        <a target="_blank" rel="noopener" href="{{ pdf_item.object_location | relative_url }}" class="btn btn-outline-primary">
        Download Interview Summary PDF
        </a>
        {% endif %}
        {% if audio_item.object_transcript or page.object_transcript %}
        <div class="collapse mt-3" id="collapseTranscript">
            <div class="card card-body text-start">
                {% assign transcript_type = audio_item.object_transcript | default: page.object_transcript | slice: 0,1 %}
                {% if transcript_type == '/' %}
                {% assign transcript_location = audio_item.object_transcript | default: page.object_transcript | remove_first: '/' %}
                {% assign transcript = site.pages | where: 'path', transcript_location | first %}
                {{ transcript.content | markdownify }}
                {% else %}
                {{ audio_item.object_transcript | default: page.object_transcript | markdownify }}
                {% endif %}
            </div>
        </div>
        {% endif %} 


    </div>
</div>

<div class="mb-4 ">
    
    {% include item/child/oh-item-gallery.html %}

</div>
