---
# basic custom layout supporting video or audio podcast episodes
# plus transcript csv in _data/transcripts
layout: item/item-page-base
---


<div class="card mb-4 text-center">
    <div id="media-content" class="card-body">
    {% if page.format == 'audio/mp3' %}
        <audio id="audio-player" controls class="w-100">
            <source src="{{ page.object_location | relative_url }}">
            Your browser does not support the audio element. Please <a href="{{ page.object_location | relative_url }}">download the audio file</a>.
        </audio>
        <div class="mt-2">

            {% include item/item-thumb.html %}
        
        </div>
    {% else %}

        {% assign youtube_id = page.object_location | split: '/' | last %}
        {% if youtube_id contains 'v=' %}{% assign youtube_id = youtube_id | split: 'v=' | last | split: '&' | first %}
        {% elsif youtube_id contains '?' %}{% assign youtube_id = youtube_id | split: '?' | first %}{% endif %}
        <div class="ratio ratio-16x9">
            <iframe id="youtube-player" title="video embed {{ page.title | escape }}" src="https://www.youtube-nocookie.com/embed/{{ youtube_id }}?rel=0&modestbranding=1&enablejsapi=1" allowfullscreen></iframe>
        </div>

    {% endif %}
        
        <div class="mt-2">

            {% include item/podcast-download-buttons.html %}

        </div>

    </div>
</div>
