---
# base CSS for collectionbuilder
# includes some theming options
# pulled in from "theme.yml" and "config-theme-colors.csv"
---
@charset "utf-8";

/* base variables pulled from theme.yml */
@forward "base" with (
  $base-font-family: {{ site.data.theme.base-font-family | default: 'Public Sans' }},
  $base-font-size: {{ site.data.theme.base-font-size | default: '1.1em' }},
  $text-color: {{ site.data.theme.text-color | default: '#111' }},
  $link-color: {{ site.data.theme.link-color | default: '#00AEC7' }}
);

/* individual CB page styles */
@forward "pages" with (
  $toc-a-color: {{ site.data.theme.text-color | default: '#191919' }}
); 

/* theme colors pulled from config-theme-colors */
{% assign btns = site.data.config-theme-colors | where_exp: "item","item.color != nil" %}
{% if btns != empty %}
@use "sass:map";
@forward "theme-colors" with (
  $link-color-base: {{ site.data.theme.link-color | default: '""' }},
  $theme-colors: (
    {% for btn in btns %}{% assign color = btn.color | strip %}{% if color != empty %}
    "{{ btn.color_class | slugify }}": {{ color }}{% unless forloop.last %},{% endunless %}
    {% endif %}{% endfor %}
  )

);
{% endif %}

@use "ohd";
/* pull in custom styles to override everything else */
@use "custom";
