---
# Default home page with boxes providing collection stats
layout: page
---
{%- assign items = site.data[site.metadata] | where_exp: 'item','item.objectid' -%}
<div class="row">

  <div class="col-md-8">

    {% include index/description.html %}
    {% include feature/alert.html text="Note: Transcriptions were created by a small team at the University of Idaho. If you see text that needs adjustment, please use the Website Feedback button on the bottom right of this page." color="light" align="right" %}
    {% include index/carousel.html title="Sample Items" %}
    
  </div>
  <div class="col-md-4">  

    {% include index/time.html %}

    {% include index/featured-terms.html field="subject" title="Top Subjects" btn-color="clearwater" %}
    
    {% include index/objects.html object_field="format" %}

  </div>
  <div class="col-md-12">

    {% include index/data-download.html %}

  </div>

</div>