---
layout: default
custom-foot: transcript/js/visualization-js.html
---
{% include transcript/style/filter-style.html %}
{% assign transcripts = site.data.transcripts | sort %}
{% assign items = site.data[site.metadata] %}

<!-- Sort transcripts by title instead of objectid -->
{% assign sorted_transcripts = items | sort: "interviewee" %}

<div class="container p-4 p-md-5">{% unless site.data.theme.as-data == false %}{% include transcript/filters-data-download-modal.html %}{% endunless %}
  <h2 id="visualize-by-subject">Searching Transcripts by Tag</h2>
  <p><b>Subjects</b> apply to entire recordings using standardized language for searching across digital collections, while <b>tags</b> are themes that are applied to specific sections of dialogue and are unique to this collection. Select a colored circle/tag to see where they are discussed in recordings. Results are sorted alphabetically by interviewee.</p>

  <div class="row" role="group" aria-labelledby="filterGroupLabel">
    <div id="filterGroupLabel" class="visually-hidden d-none">Filter transcripts by subject</div>
    {% for n in site.data.filters %}
    <div class="col-md-3 col-4">
        <svg class="legend" width="100%" height="25px" data-id="{{ n.tag | slugify }}"
             aria-labelledby="legendTitle{{ forloop.index }}" role="button"
             aria-label="Filter by {{ n.tag }}" tabindex="0" style="cursor:pointer;"
             data-bs-toggle="tooltip" data-bs-placement="left"
             title="{{ n.description | escape }}" aria-pressed="false">
          <title id="legendTitle{{ forloop.index }}">Filter by {{ n.tag }}</title>
        <circle cx="25" cy="10" r="10" class="{{ n.tag | slugify }}"></circle>
        <text x="38" y="15">{{ n.tag }}</text>
      </svg>
    </div>
    {% endfor %}
  </div>
  <a href="#transcript-contents" class="visually-hidden-focusable visually-hidden skip-link mb-3 d-inline-block p-2">
      Skip to filtered transcript content
    </a><br />
  <button id="reset" class="btn btn-lg btn-secondary float-right" role="button">Reset</button>
  <div class="visually-hidden" aria-live="polite" id="filter-status">
    No filters currently applied.
  </div>

  <br /><br />

  {% unless site.data.theme.transcript-contents == false %}
  <div class="container" id="transcript-contents">
    <h2>Contents</h2>

    {% for transcript_item in sorted_transcripts %}
    {% assign transcript-name = transcript_item.objectid %}
    {% assign transcript = site.data.transcripts[transcript-name] %}
    {% if transcript %}
      <section class="contentsdiv">
        <h3 class="my-4 {{transcript-name}}"><a href="{{transcript-name | prepend: '/items/' | append: '.html' | relative_url }}">{{ transcript_item.interviewee | default: transcript_item.title }}</a></h3>
        <table class="my-4 p-2 border {{transcript-name}} {% cycle 'bg-light','' %}">
          {% for item in transcript %}
          <tr id="{{transcript-name}}row{{ forloop.index0 }}" class="{{item.tags | replace: ";", " "}}">
            <td class="p-2" style="width:10%;vertical-align:top"><a href="{{ forloop.index0 | prepend: transcript-name | prepend: '.html?line=' | prepend: transcript-name | prepend: '/items/' | relative_url }}" aria-label="jump to Line {{ forloop.index0 }} from {{transcript-name}}'s interview, opens in new tab" class="small btn-link text-dark" tabindex="-1">Line {{ forloop.index0 }}</a></td>
            <td class="words p-2">
              <div id="spoken">{% if item.speaker %}{{item.speaker | remove: ":"}}: {% endif %}{{item.words}}</div>
            </td>
          </tr>
          {% endfor %}
        </table>
      </section>
    {% endif %}
    {% endfor %}
  {% endunless %}
  </div>
</div>
<br />
<hr /><br />
